* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    width: 70%;
    margin: 30px auto;
    text-align: center;

}

.banner-title {
    /* margin: 30px 0; */
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    margin: 30px 0;
}

.btn {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: 0;
    background: #FF900E;
    color: white;
    cursor: pointer;
}


.banner img {
    width: 100%;
    margin-top: 20px;
}

main, footer {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.teams-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 60px; */
    margin: 60px auto;
}

.teams-content,
.features-content {
    padding: 0 70px;
    color: #727272;
}

.teams-title,
.facts-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-description {
    margin: 20px 60px 30px 0;

}

.black-text {
    font-weight: 700;
    color: #131313;

}

.orange-text {
    color: #FF900E;
    font-weight: 700;
}

.features-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 120px;
    margin-top: 130px;
}


.features-title {
    font-size: 2.8rem;
    font-weight: 500;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 10px;
    border-left: 4px solid #FF900E;
    margin-bottom: 24px;
}

.features-title-description,
.facts-title {
    margin-bottom: 30px;
}

.features-card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-card h2 {
    font-weight: 600;
}

.badge {
    font-size: 1.5rem;
    font-weight: 500;
    width: 250px;
    padding: 40px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    border: 0;
    background-color: #FF900E;
    color: white;
    position: relative;
    bottom: 90px;

}

.badge h2 {
    font-size: 4rem;
    font-weight: 700;
}

.features-container img {
    height: 800px;
}

.img-badge-container img {
    margin-left: 60px;
}

.facts-card-container,
.sponsors-icon {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.facts-card {
    width: 240px;
    height: 240px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.facts-card img {
    margin-top: 45px;
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.facts-card h2,
.sponsor-container h2 {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.facts-card p {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.sponsor-container {
    margin: 50px auto;
    text-align: center;
}
.facts-container{
    margin: 0 20px;
}

footer {
    margin: 180px auto;
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF4E7;
}

footer p{
    padding: 10px 100px;
}





/* RESPONSIVE SECTION */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features-container,
    .facts-card-container,
    .sponsors-icon {
        flex-direction: column;
        gap: 30px;
    }


    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img-badge-container img {
        width: 80%;
        height: 80%;
    }


}




/* tablel or medium device */

@media screen and (min-width:577px) and (max-width:960px) {
    header {
        padding: 10px;
    }

    nav,
    .teams-container,
    .features-container {
        flex-direction: column;
        gap: 10px;
    }


    /* .banner-content {
            width: 600px;
            margin: auto;
         }     */



}